@use "./../base/colors" as *;

@mixin buttonStyle{
     padding: 1rem 0;
    
    cursor: pointer;
    border-radius: 1rem;
    outline: none;
    border: none;

    background-color: $color-primary;

&:hover{
        background-color: $color-primary-dark;
    }

}

@mixin linearGradient{
    background-image: linear-gradient(
        to right bottom,
        $color-buttons,
        $color-primary
    );
}
    