
@use './colors' as *;

@use './../utils/mixin' as *;

html{
    font-size: 62.5%;
}
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    @include linearGradient;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;


    position: relative;
    min-height: 100vh;
}
